body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: "Slabo 27px", serif;
	font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
	text-align: center;
    font-weight: bold;
}


/*
 * Styles for the Game Details
 */

.game-details {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.game-details .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.game-details .stars li {
    list-style: none;
    display: inline-block;
}

.game-details .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the deck of cards
 */
 .cards-box{
 	width: 700px;
 	min-height: 720px;
	background : linear-gradient(to right, rgb(143, 48, 207), rgb(19, 155, 236));
	padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.cards-box .card{
	height: 150px;
    width: 150px;
    background: #704CD7;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.cards-box .card.open {
    transform: rotateY(0);
    background: #238EE9;
    cursor: default;
}

.cards-box .card.show {
    font-size: 33px;
}

.cards-box .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}